:root {
  --color1: #05b1b1;
  --color2: #52339a;
}

header,
footer,
section {
  padding: 100px 0;
}

header {
  padding: 200px 0;
}

header,
footer {
  background: url(../img/pattern.png), var(--color2);
  background: url(../img/pattern.png),
    linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 0.6306897759103641) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  background-size: contain;
}

.itd_play {
  background-color: var(--color2);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.itd_play:hover {
  background-color: var(--color1);
}

.itd_triangle {
  margin-right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
  color: var(--bs-white);
  background-color: var(--color2);
}

.btn-itd:hover {
  color: var(--bs-white);
  background-color: var(--color1);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Что вы узнаете */
.about {
  background-color: #eee;
}

.about i {
  font-size: 25px;
  color: var(--color2);
}
.cust_circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100px;
  height: 3px;
  margin: 15px auto 30px;
  background-color: var(--color1);
}

/* Points */
.cust_points {
  border: 3px solid var(--color1);
  padding: 50px;
}

/* Colors */
.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.bg1 {
  background-color: var(--color1);
}

.bg2 {
  background-color: var(--color2);
}
